*{
    transition: 0.5s;
}
.login {
    background-image: url('https://www.japaholic.com/storage/files/article_images/NzkyMDIyMDIxODIxMjYxMjkw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.icon {
    width: 30px;
    height: 30px;
}

.login-form {
    background-color: rgb(39, 39, 39);
}

.login-form input {
    height: 60px;
    background-color: black;
}

.login-form button {
    height: 60px;
}

@media(max-width:991px) {
    .login-form {
        background-color: rgba(255, 255, 255, 0);
    }
}